.hero-section {
  background-image: url("../img/Background.png");
  background-size: cover;
  background-position: center;
  padding: 0 20px;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.hero-hader-left {
  display: flex;
  align-items: center;
}

.hero-nav-links {
  display: flex;
  gap: 32px;
  margin-left: 15px;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.showMenu {
  transform: translateY(0);
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.3s;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.hero-nav-links > a {
  font-weight: 500px;
  font-family: "Inter", sans-serif;
}

.hero-main {
  max-width: 1200px;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
}
.hero-main-left {
  padding-top: 90px;
}

.hero-title {
  font-size: clamp(2rem, 8vw, 72px);
  line-height: clamp(2rem, 8vw, 98px);
  font-weight: 800;
}

.hero-cta {
  display: inline-block;
  background-color: #8c30f5;
  color: #ffff;
  padding: 16px 32px;
  font-weight: 500;
  border-radius: 6px;
  margin-top: 32px;
}
.logo-section {
  padding: 20px 0;
}

.homepage-clouds-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}

.homepage-multiple-conteiner {
  display: flex;
  justify-content: center;
}

.homepage-multiple-box {
  margin: 50px 0 0 0;
}

.multiple-tit-p {
  margin: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.multiple-title {
  color: #18191f;
  font-size: clamp(25px, 4vw, 48px);
  line-height: clamp(15px, 4vw, 64px);
  font-weight: 800;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.multiple-p {
  color: #18191f;
  font-size: clamp(25px, 5vw, 18px);
  line-height: clamp(15px, 5vw, 25px);
  font-weight: 400;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.features-row-1 {
  display: flex;
  text-align: center;
  gap: 50px;
  padding: 50px 0;
}

.features-row-2 {
  display: flex;
  text-align: center;
  gap: 50px;
  padding: 50px 0;
}

.features-tit {
  color: #18191f;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding: 10px 0;
  font-family: "Inter", sans-serif;
}

.features-p {
  color: #18191f;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  padding: 5px 0;
}

.testimonial-conteiner {
  display: flex;
  justify-content: center;
  background-color: #d5fafc;
  padding-top: 50px;
}

.nick {
  color: #18191f;
  font-size: 18px;
  line-height: 28px;
  margin-top: 20px;
  padding-left: 20px;
}

.nick2 {
  color: #969bab;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
}

.testimonial-left {
  width: 500px;
  position: relative;
}

.quote-mark-div {
  display: flex;
  flex: 1;
}

.quote-img {
  display: flex;
  width: 142px;
  line-height: 120px;
  position: absolute;
  left: -19%;
  min-width: clamp(200px 8vw 350px);
}

.heading-title {
  color: #18191f;
  font-size: clamp(25px, 4vw, 48px);
  line-height: clamp(25px, 4vw, 64px);
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.heading-p {
  color: #18191f;
  font-size: 18px;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  margin-bottom: 25px;
}

.hubspot-box {
  width: 350px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  font-family: "Inter", serif;
  font-size: 18px;
  margin-left: 95px;
  position: relative;
}

.hubspot-img {
  width: 140px;
}

.hubspot-quote {
  width: 15px;
  position: absolute;
  top: 22%;
}

.hubspor-p {
  color: #18191f;
  font-size: clamp(15px, 4vw, 18px);
  line-height: clamp(31px, 4vw, 32px);
  font-family: "Inter", serif;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 25px;
}

.testimonial-right {
  display: flex;
  gap: 20px;
  margin-top: 90px;
  flex-direction: column;
  padding: 0 0 30px 0;
}

.airbnb-box {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  font-family: "Inter", serif;
  font-size: 18px;
  position: relative;
}

.airbnb-img {
  width: 130px;
  padding: 20px 0;
}

.airbnb-quote {
  width: 15px;
  position: absolute;
  top: 35%;
}

.airbnb-p {
  color: #18191f;
  font-size: clamp(15px, 4vw, 18px);
  line-height: clamp(31px, 4vw, 32px);
  font-family: "Inter", serif;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 25px;
}

.bookmy-box {
  width: 350px;
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  font-family: "Inter", serif;
  font-size: 18px;
  position: relative;
}

.bookmyshow-quote {
  width: 15px;
  position: absolute;
  top: 35%;
}

.stats-conteiner {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  gap: 100px;
}

/* .stats-left {
  display: flex;
  align-items: center;
} */

.stats-h1 {
  color: #18191f;
  font-size: 48px;
  line-height: 64px;
  font-family: "Inter", sans-serif;
}

.stats-p {
  color: #18191f;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
}

.stats-title-p {
  color: #18191f;
  font-size: 18px;
  line-height: 32px;
  font-family: "Inter", sans-serif;
}

.stats-title {
  color: #18191f;
  font-size: 28px;
  line-height: 40px;
  font-family: "Inter", sans-serif;
}

.stats-row-1 {
  display: flex;
  gap: 100px;
}

.stats-item {
  display: flex;
  gap: 20px;
  font-family: "Inter", sans-serif;
}

.stats-row-2 {
  display: flex;
  gap: 159px;
  padding: 30px 0;
}

.stats-img {
  margin-top: 15px;
}

.headline-conteiner {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.headline-left-tit {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.headline-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.headline-tit {
  font-size: 40px;
  font-weight: 800;
  line-height: 54px;
  font-family: "Inter", sans-serif;
  color: #18191f;
  padding: 10px 0;
}

.headline-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  color: #18191f;
}

.headline-link-vect {
  margin-top: 20px;
}

.headline-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  color: #8c30f5;
  gap: 20px;
}

.headline-vector {
  padding: 0 5px;
}

.details-conteiner {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 150px;
}

.details-tit {
  font-size: 40px;
  font-weight: 800;
  line-height: 54px;
  color: #18191f;
  font-family: "Inter", sans-serif;
}

.details-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #18191f;
  font-family: "Inter", sans-serif;
}

.details-img {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cta-6-conteiner {
  background-color: #2ec5ce;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.cta-6-left {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 15px;
}

.cta-6-tit {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  color: #18191f;
  font-family: "Inter", sans-serif;
}

.cta-6-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #18191f;
  font-family: "Inter", sans-serif;
}

.cta-6-app-tit {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #18191f;
  font-family: "Inter", sans-serif;
  padding-top: 50px;
}

.cta-6-app {
  display: flex;
  gap: 15px;
}

.cta-6-right {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.cta-6-phone1 {
  align-items: start;
}

.cta-6-phone2 {
  margin-top: 100px;
}

.footer {
  max-height: 280px;
  display: flex;
  justify-content: space-between;
  background-color: #0b0d17;
  color: white;
  padding: 50px 150px 150px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-onelist {
  display: flex;
  padding: 20px 0 0;
  gap: 55px;
}

.footer-twolist {
  display: flex;
  padding: 20px 0;
  gap: 40px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-app {
  gap: 20px;
}

.phone-div {
  flex: 1;
  padding-left: 100px;
}

.hero-mockup-img {
  max-width: 100%;
  min-width: clamp(200px 8vw 350px);
}
.menu-toggle {
  display: none; /* Hamburger menüyü başlangıçta gizleyin */
  cursor: pointer;
}

/* Hamburger menü simgesi için stiller */
.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

/* Küçük ekran boyutları için menüyü görünür hale getirin */
@media (max-width: 1066px) {
  .hero-header-nav {
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: flex-start;
    position: absolute;
    padding: 20px 35px;
    right: 0;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    top: 75px;
    /* background-color: rgba(80, 118, 145, 0.55); */
    z-index: 100;
  }

  .hero-header-nav.active {
    display: block; /* Menüyü açıkken görünür yap */
  }
  .hero-header-right {
    display: none;
  }

  .hero-hader-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
  }
  .hero-main {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .hero-main-left {
    align-items: center;
  }
  .phone-div {
    padding-left: 0;
  }
  .homepage-clouds-logo {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .testimonial-conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 20px 30px;
  }
  .quote-img {
    display: none;
  }
  .heading-h-p {
    margin-left: 90px;
  }
}

@media (max-width: 500px) {
  .features-row-1 {
    flex-direction: column;
    align-items: center;
  }
  .features-row-2 {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1066px) {
  .airbnb-img {
    margin-left: 30px;
  }
}

@media (max-width: 1066px) {
  .airbnb-box {
    padding: 0;
  }

  .hubspot-box {
    margin-left: 62px;
  }
  /* .bookmy-box {
    width: 500px;
    margin-left: 70px;
  } */
}
